.footer-heading {
  color: white;
  transition: color 0.3s ease;
}

.footer-heading:hover {
  color: yellow;
}

p.mb-0.small.text-light {
  margin: 0;
}

.footer a {
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #ff7f00; 
}

footer .footer-heading img {
  max-height: 50px; 
  margin-bottom: 10px; 
}

.footer .d-flex .fs-4 {
  gap: 15px;
}

footer .small {
  font-size: 0.8rem;
}

p.text-light {
    display: contents;
}

@media (max-width: 768px) {
  .footer .col-md-2 {
    text-align: center;
  }


footer.bg-dark.text-light.pt-5.pb-3 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.d-flex.gap-3.fs-4 {
    /* text-align: center; */
    justify-content: center;
}
}

.foot{
  gap: 4%;
}

.footer ul li {
  display: flex;
  align-items: center;
}

.footer ul li svg {
  width: 18px; 
  height: 18px; 
}

.footer ul li span {
  margin-left: 1px; 
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    row-gap: 20px;
    line-height: 2;
}
